<div class="msg">
    <div class="fb-customerchat" page_id="<PAGE_ID>">
    </div>
    <a href="https://github.com/sunvni/mycv" target="_blank">
        <svg viewBox="0 0 200 200">
        <style>.heavy { font: bold 40px sans-serif; }</style>
        <path id="curve" fill="none" d="M100, 100m -75, 0a 75,75 0 1,0 150,0a 75,75 0 1,0 -150,0"/>
        <text width="100">
            <textPath xlink:href="#curve" class="heavy" fill="white">*Fork me on Github*</textPath>
        </text>
        </svg>
    </a>    
</div>
