
<section class="cover">
    <div class="avatar"></div>
    <div class="cover-name">
        <div class="name-with-v">
            <span class="cname">Hoang Hieu</span>
            <span class="verified"></span>
        </div>
        <span class="cposition">(PHP developer)</span>
    </div>
</section>
