@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 10px;
        position: relative;
        float: right;
        padding: 13px 10px;        
        background-color: #1b3052;
        background-image: none;
        border: 1px solid transparent;
        border-radius: 4px;
    }
    .avatar {
        left: calc(50% - 70px);
        bottom: 4em;
    }
    .cover-name {
        left: calc(50% - 70px);
        bottom: 0;
    }
    .menu-icon:hover {
        background: #02122d;
    }
    .nav {
        display: none;
        float: none;
    }
    .nav>ul {
        position: absolute;
        top: 43px;
        background: #02122d;
        width: 100%;
    }
    .nav.responsive {
        display: inline;
    }
    
    .nav>ul>li {
        float: none;
    }
    .nav>ul>li>a {
        margin-left: 20px;
    }
    .nav>ul>li:hover {
        background: #0d59de;
    }
    .icon-bar {
        background-color: #ececec;
        display: block;
        width: 22px;
        height: 2px;
        border-radius: 1px;
    }
    .icon-bar+.icon-bar {
        margin-top: 4px;
    }
}
