html {
    font-family: 'Segoe UI',
    Tahoma,
    Geneva,
    Verdana,
    sans-serif;
}
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
a {
    text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
    color: #4B5057;
    font-weight: bold;
    line-height: normal;
    margin: 1em 0;
}
body {
    background: #f3f3f3;
    color: #4d5968;
    font-family: 'Nunito Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 1.618;
    min-height: 1000px;
}

.nav>ul {
    list-style: none;
}
.nav>ul>li {
    float: left;
    margin: 2px;
}
.nav>ul>li>a {
    color: #ffffff;
    text-decoration: none;
    display: block;
}
.nav>ul>li>a:not(.top-icon) {
    padding: 5px;
}
.nav>ul>li.active:not(.top-icon){
    background-color: #1d3154;
}
.nav>ul>li:hover{
    background-color: #22385f;
}
.header {
    top: 0;
    height: 43px;
    width: 100%;
    background-color: #29487d;
    margin-bottom: 20px;
    z-index: 9999;
    position: fixed;
}
.logo {
    float: left;
    width: 7rem
}
.menu {
    max-width: 960px;
    margin: auto;
}
.nav {
    float: right;
    padding-right: 20px;
}

.content {
    padding: 40px;
    margin: 0 auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-width: 960px;
    background: #fff;
}
html {
    position: relative;
    min-height: 100%
}
footer {
    position: absolute;
    bottom: 0px;
    left: 0px;
    width: 100%;
    padding-left: 2rem;
    font-size: 0.8em;
    color: #d8d8d8;
    background-color: #29487d;
}
footer a {
    color: #50cc83;
}

fieldset {
    padding: 25px;
}
.logo-text {
    font-size: 20px;
    line-height: 2;
    -webkit-font-smoothing: antialiased;
    letter-spacing: -2px;
    color: #ffffff;
}
.logo a {
    text-decoration: none;
    margin-left: 20px;
}
.menu-icon {
    display: none;
    position: absolute;
    top: 0;
    right: 10px;
    color: white;
    text-decoration: none;
}
.msg {
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #3578e5;
    height: 45px;
    width: 45px;
    cursor: pointer;
    z-index: 100;
    -moz-box-shadow: 0 8px 6px -6px black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}
.cover {
    height: 300px;
    padding: 40px;
    margin: 20px auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    border-radius: 3px;
    max-width: 960px;
    position: relative;
    background: #a2b5e8;
}
.avatar {
    height: 140px;
    width: 140px;
    position: absolute;
    bottom: -10px;
    background-image: url(/assets/image/avatar.jpg);
    border: 3px solid white;
    border-radius: 50%;
}

@media only screen and (max-width: 768px) {
    .menu {
        width: 100%;
    }
    .menu-icon {
        display: block;
        position: absolute;
        top: 1.5px;
        right: 10px;
        color: white;
        text-decoration: none;
        height: 40px;
        padding: 10px 15px 10px 15px;
        line-height: 15px;
        background: #355c9ef5;
        border: 0.2px solid #355c9ef5;  
    }
    .menu-icon:hover {
        background: #162744f5;
    }
    .nav {
        display: none;
        float: none;
    }
    .nav>ul {
        position: absolute;
        top: 43px;
        background: #02122d;
        width: 100%;
    }
    .nav.responsive {
        display: inline;
    }
    .menu-icon.nav.responsive {        
        background: #243a5f;   
        -moz-box-shadow: inset 0 0 10px #000000;
        -webkit-box-shadow: inset 0 0 10px #000000;
        box-shadow: inset 0 0 4px #08162f;
    }
    .nav>ul>li {
        float: none;
    }
    .nav>ul>li>a {
        margin-left: 20px;
    }
    .nav>ul>li:hover {
        background: #0d59de;
    }
}
