{% extends "layouts/one.html.twig" %}

{% block cover %}
{% include 'layouts/partials/cover.html.twig' %}
{% endblock %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>{{msg}}</h1>
    <p class="important">
        Welcome on my awesome homepage.
    </p>
    <form action="{{path('')}}" method="post" class="form">
        <fieldset>
            {{ addkey()|raw}}
            <legend>Login Form</legend>
            <label for="name">Username</label>
            <input type="text" name="username" id="name" placeholder="enter username" required>
            <label for="password">Password</label>
            <input type="password" name="password" id="pass" placeholder="123456" required>
            <input type="submit" value="Submit">
        </fieldset>
    </form>
    
{% endblock %}
