<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>myResume - Hoang Hieu</title>
        {% block head %}
            <link rel="stylesheet" href="{{path('assets', 'css', 'style.css')}}" />
            <link rel="stylesheet" href="{{path('assets', 'css', 'content.css')}}" />
            <script src="{{path('assets', 'js', 'main.js')}}"></script>
            <title>{% block title %}{% endblock %}</title>
        {% endblock %}
    </head>
    <body>
        <div class="content-wrapper">
            <header>{% include 'layouts/partials/nav.twig' %}</header>
            {% block cover %} {% endblock %}            
            <section class="content">{% block content %}{% endblock %}</section>
            {% block script %}{% endblock %}
        </div>
        {% include 'layouts/partials/msg.twig' %}
        <footer>
                {% block footer %}
                    &copy; Copyright 2018 by <a target="_blank" href="https://sunvni.com/">sunvni.com</a>.
                {% endblock %}
        </footer>
    </body>
</html>
